
.purchase {
    position: absolute;
    z-index:100;
    right: 10%;
    top: 0;
    
    background-color: white;
    
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

.purchase button {
    width: 100%;
    border-radius: 10px;   
    color: white;
    background-color: green;
    font-size: larger;
}

.picture img {
    width: 50%;
}

.review {
    background-color: rgb(255, 223, 109);
    margin: 5px;
    width: 100%;
}